[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
bio_scholar_vault = "GHtSfSFd3Y9u7JNkv3f4t3w8c62j68MvLYio8iRwitAo"

[programs.devnet]
bio_scholar_vault = "GHtSfSFd3Y9u7JNkv3f4t3w8c62j68MvLYio8iRwitAo"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test.validator]
url = "https://api.mainnet-beta.solana.com"
